<template>
    <div class="container">

                        About

    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted about.')
        }
    }
</script>
