<template>
    <div>
        <div style="display: flex; justify-content: space-evenly">
            <router-link to="/home">Home</router-link>
            <router-link to="/about">About</router-link>
        </div>

        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('App Component mounted.');
        }
    }
</script>
