<template>
    <div class="container">

                        Home

    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted home.')
        }
    }
</script>
